# Python/Jupyter Notebook
__pycache__/
.ipynb_checkpoints/
*.py[cod]

# macOS
.DS_Store

# output throughput curves and figures
outputs/

# all Rayner standard data files
#Rayner_standard_data/

# Rayner standard data files, keep paper PDF:
*.fits
*.tar
*.txt