# Python/Jupyter Notebook
__pycache__/
.ipynb_checkpoints/
*.py[cod]

# macOS
.DS_Store

# Ignore content in output directory but keep structure
outputs/plots/*
outputs/processed_data/*
outputs/throughput_curves/*
# .gitkeep allow Git to track empty directories
!outputs/plots/.gitkeep
!outputs/processed_data/.gitkeep 
!outputs/throughput_curves/.gitkeep 

# all Rayner standard data files
#Rayner_standard_data/

# Rayner standard data files, keep paper PDF:
*.fits
*.tar
*.txt